.label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid;
    padding: 0 16px;
    border-radius: 4px;
    overflow-wrap: break-word;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    height: 40px;
}

.info {
    color: rgb(7, 146, 175);
    background: rgb(235, 250, 253) none repeat scroll 0 0;
    border-color: currentColor;
}

.error {
    color: rgb(255, 105, 105);
    background: rgb(253, 235, 235) none repeat scroll 0 0;
    border-color: currentColor;
}

.sticky {
    border-radius: 4px 0 0 4px;
    margin-right: -8px;
    padding-right: 24px;
}
